html, body {
	height: 100%;
	width: 100%;
	font-size: 14px;
	overflow-x: hidden;
	touch-action: manipulation;
}

body {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: var(--font1);
	font-weight: 500;
	margin: 0;
	background: var(--color1);
	color: var(--color6);
}

* {
	padding: 0;
	margin: 0;
	-webkit-tap-highlight-color: transparent;
	box-sizing: border-box;
}

div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

input[type="radio"] {display: none;}

button {
	font-family: var(--font1);
}

.screen {
	position: absolute;
	top: 0;
	left: 0;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	opacity: 0;
	pointer-events: none;
	z-index: 9998;
	transition: all var(--container-transition);
}

.current-screen {
	opacity: 1 !important;
	pointer-events: all !important;
	z-index: 9999 !important;
}

.big-text {
	position: relative;
	line-height: 1;
	text-transform: uppercase;
}
.big-text > div:nth-child(1) {
	position: absolute;
	color: var(--color2);
	-webkit-text-stroke: calc(2 * var(--input-border-width)) var(--color4);
	filter: drop-shadow(0 var(--input-border-width) 0 var(--color4));
	z-index: 10;
}
.big-text > div:nth-child(2) {
	color: var(--color6);
	z-index: 11;
}


/* Buttons */
.btn {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 3rem;
	font-size: 1.2rem;
	font-weight: 700;
	line-height: 1;
	color: var(--color6);
	border: 0;
	border-radius: var(--input-border-radius);
	cursor: pointer;
	overflow: hidden;
	text-decoration: none;
	text-transform: uppercase;
}
.btn svg {
	margin-right: 0.5em;
	padding-bottom: 0.1em;
}

.circle-btn {
	--dimension: 4rem;
	position: absolute;
	bottom: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	height: var(--dimension);
	width: var(--dimension);
	font-size: calc(var(--dimension) / 2);
	border-radius: 45%;
	background: var(--color3);
	color: var(--color6);
	cursor: pointer;
}

.special-hover {
	transition: transform var(--input-transition);
	backface-visibility: hidden;
	-webkit-font-smoothing: antialiased;
}
.special-hover:hover {
	outline: var(--input-border-width) solid var(--color6);
    transform: scale(1.05) translateZ(0);
}
