/* General */
:root {
	--line-height: 2rem;
	font-size: 8px;
}

body {
	--shadow: 1.8rem;
	--gap-v: 3.5rem;
}

.game-link {
	--dimension: 6rem;
	top: 0;
	left: 0;
	border-radius: 0;
	border-bottom-right-radius: 1.5rem;
}


/* Play */
.intro-container {width: calc(100% - 6rem);}

.word-input {margin: 5rem 0;}

.submit-btn {display: none;}

.keyboard {display: flex;}


/* Search */
.immediate-container, .properties-container > div, .all-wrapper {border-radius: var(--shadow);}

.letter-input::placeholder {font-size: 3rem;}

.filtered-container, .all-container {font-size: 1.6rem;}

.filtered-container {
	flex-direction: column;
	width: 40rem;
	margin: 0;
	border: 0;
	background: transparent;
}

.immediate-container {
	width: 100%;
	padding: 2rem 2rem;
	margin: 0;
}

.sample-word-list {--word-lines: 5;}

.properties-container {
	width: 100%;
	margin-top: var(--gap-v);
}

.properties-container > div {padding: 2rem 0;}

.show-all-btn, .sort-container .btn {
	height: 4rem;
	border-radius: 0.5rem;
}


/* All words */
.sort-container {width: 100%;}
.sort-container .btn {flex-grow: 1;}
