/* Intro screen */
#intro-screen {
	--intro-btn-width: 16rem;
	--intro-spacing: 1rem;
	background: var(--color1);
	z-index: 9999;
	transition: all var(--container-transition);
}

#intro-scroll-container {
	width: 100%;
	height: 100%;
	height: min-content;
	overflow-y: scroll;
}

.scroll-spacer {
	width: 100%;
	min-height: var(--scroll-padding);
}

#intro-wrapper > * { width: 100%; }

#logo {
	--logo-width: calc(3 * var(--intro-btn-width) + 2 * var(--intro-spacing));
	min-width: var(--logo-width);
	min-height: calc(0.4 * var(--logo-width));
}
#logo #outer-border { fill: var(--color3); }
#logo #inner-border { fill: var(--color4); }
#logo .hole { fill: var(--color2); }
#logo #text-shadow { fill: var(--color4); }
#logo #text { fill: var(--color6); }

#intro-description {
	position: relative;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-top: 2rem;
	padding-bottom: 2rem;
	margin-top: var(--intro-spacing);
	margin-bottom: var(--intro-spacing);
	background: var(--color2);
	border-radius: var(--input-border-radius);
}

#intro-description b {
	display: inline;
	color: var(--color5);
}

#intro-description > * { transition: all var(--container-transition); }
#intro-how-to-play-container {
	opacity: 1;
	pointer-events: all;
}
#intro-whats-a-seed-container {
	position: absolute;
	opacity: 0;
	pointer-events: none;
}

.intro-header {
	justify-content: center;
	align-items: center;
	height: 2.2rem;
	width: min-content;
	font-size: 1.2rem;
	font-weight: 700;
	letter-spacing: 0.1rem;
	padding: 0 1em;
	padding-top: 0.13em;
	border-radius: 0.2rem;
	white-space: nowrap;
	background: var(--color5);
}

.intro-middle-container, .intro-directions-container { display: block; }
.intro-middle-container { margin-top: 1.5rem; }
.intro-directions-container { margin-top: 1rem; }
#intro-how-to-play-container .intro-directions-container { text-align: left; }

#intro-btn-container {
	position: relative;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: min-content;
}

#intro-option-container {
	display: flex;
	flex-direction: row;
	transition: all var(--container-transition);
}

.intro-btn {
	flex-direction: column;
	width: var(--intro-btn-width);
	height: min-content;
	background: var(--color3);
}
.intro-btn + .intro-btn {margin-left: 1rem;}
#search-intro-btn {
	display: flex;
	flex-direction: column;
}

.intro-btn-pic {
	width: 100%;
	height: 11rem;
	min-height: 11rem;
	object-fit: cover;
}

.intro-btn-tag {
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 3rem;
	width: 100%;
	color: var(--color6);
}


/* Seed */
#seed-container {
	position: absolute;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: var(--intro-btn-width);
	height: 100%;
	opacity: 0;
	pointer-events: none;
	transition: all var(--container-transition);
}

#seed-input {
	text-align: center;
	width: 100%;
	height: 3rem;
	font-family: var(--font1);
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1;
	background: transparent;
	color: var(--color6);
	border: 0;
	outline: 0;
}
#seed-input::placeholder {
	color: var(--color2);
	text-transform: uppercase;
}

#play-seed-btn {
	width: 100%;
	background: var(--color3);
	margin-top: 0.5rem;
}

#back-btn {
	width: 100%;
	color: var(--color4);
	margin-top: 0.65rem;
}


/* Wants to play seed state */
.wants-to-play-seed #intro-how-to-play-container {
	opacity: 0;
	pointer-events: none;
}
.wants-to-play-seed #intro-whats-a-seed-container {
	opacity: 1;
	pointer-events: all;
}
.wants-to-play-seed #intro-option-container {
	opacity: 0;
	pointer-events: none;
}
.wants-to-play-seed #seed-container {
	opacity: 1;
	pointer-events: all;
}


/* Game screen */
#game-screen {
	position: relative;
	flex-grow: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}


/* License plate */
#license-plate {
	--plate-height: 21rem;
	position: relative;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	height: var(--plate-height);
	width: calc(2 * var(--plate-height));
	filter: drop-shadow(0 var(--input-border-width) 0 var(--color5));
}

#plate-background {
	position: absolute;
	height: 100%;
	width: 100%;
	pointer-events: none;
}

#plate-number {
	flex-direction: row;
	align-items: center;
	z-index: 9999;
}

#plate-number * { font-family: var(--font2); }
/* .plate-chars1 { background: yellow; } */
/* #plate-divider { margin-bottom: calc(0.05 * var(--plate-height)); } */


/* Submitting */
#word-input {
	width: 100%;
	text-align: center;
	font-family: var(--font1);
	font-size: 4rem;
	font-weight: 700;
	margin: 4rem 0;
	border: 0;
	outline: 0;
	background: transparent;
	color: var(--color6);
	text-transform: uppercase;
}
#word-input::placeholder { color: var(--color2); }

#submit-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 16rem;
	font-family: var(--font1);
	font-weight: 700;
	background: var(--color3);
	color: var(--color6);
	cursor: pointer;
}
#submit-btn .kbd {
	font-family: var(--font1);
	font-size: 0.75rem;
	font-weight: 500;
	padding: 0.3em 0.7em;
	margin-left: 1rem;
	background: black;
	color: var(--color6);
	transition: all var(--input-transition);
}

#skip-btn {background: #ffda66;}
#stop-btn {background: #ff684c;}


/* Score */
.score-container, .timer-container {
	--font-size: 3rem;
	--spacing: 2.5rem;
	position: absolute;
	top: calc(var(--spacing) / 2);
	font-size: var(--font-size);
	font-weight: 900;
}
.score-container div, .timer-container div {display: block;}

.score-container {
	left: var(--spacing);
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.timer-container {right: var(--spacing);}

.points-message, .wrong-message {
	position: absolute;
	font-family: var(--font1);
	font-size: 0.6em;
	font-weight: 700;
	margin-top: 3em;
	white-space: nowrap;
}

.points-message {
	color: #39FF14;
	transform: rotate(-5deg);
}

.wrong-message {
	color: #FF3131;
	transform: rotate(5deg);
}


/* Circle buttons */
#search-circle-btn {
	bottom: 2rem;
	right: 2rem;
}

#cancel-circle-btn {
	bottom: 2rem;
	left: 2rem;
}


/* Mobile keyboard */
.keyboard {
	--key-spacing: calc(var(--input-spacing) / 2);
	display: none;
	flex-direction: column;
	width: 100%;
	padding: var(--input-spacing);
}

.drive-btn-mobile, .key {
	height: 7vh;
	font-size: 1.5rem;
	border-radius: 0.35em;
	cursor: pointer;
}

.drive-btn-mobile {
	border: 0.2rem solid black;
	background: #64e27d;
	color: black;
}
.drive-btn-mobile svg {margin-right: 0.6rem;}

.key-row {
	justify-content: center;
	width: 100%;
	margin-top: var(--key-spacing);
}

.key {
	width: calc((100% - 9 * var(--key-spacing)) / 10);
	border: 0;
	background: black;
	color: var(--color5);
}
.key ~ .key {margin-left: var(--key-spacing);}

.special-key {width: calc(15% - var(--key-spacing));}


/* End screen */
#end-title {
	font-family: var(--font2);
	font-size: 6rem;
}

#end-summary-container {
	background: var(--color2);
	padding: 2rem;
	margin-top: 1.6rem;
	border-radius: var(--input-border-radius);
}

#end-summary { display: inline; }
#end-summary-num-words, #end-summary-score { color: var(--color5) }

#end-correct-guesses {
	text-align: center;
	font-weight: 700;
	font-size: 1.2rem;
	line-height: 1.2;
	margin-top: 1rem;
	color: var(--color5);
}

#end-btn-container {
	width: 16rem;
	margin-top: 1rem;
}

#end-btn-container .btn {
	width: 100%;
	background: var(--color3)
}
#end-btn-container .btn + .btn { margin-top: 0.65rem; }
