body {
	--word-margin-v: 0.1rem;
	--word-margin-h: 0.5rem;
	font-size: 1.2rem;
	font-weight: 500;
	line-height: var(--line-height);
}


/* Letter input */
#letter-input-wrapper {
	--font-size: 9rem;
	--offset: 1rem;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: calc(2 * var(--font-size));
	overflow: hidden;
}

#letter-input-placeholder {
	position: absolute;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	font-family: var(--font1);
	font-size: calc(0.25 * var(--font-size));
	font-weight: 700;
	line-height: 1;
	color: var(--color2);
	text-transform: uppercase;
	pointer-events: none;
	user-select: none;
	z-index: 9;
}

#letter-input-shadow {
	position: absolute;
	text-align: center;
	vertical-align: middle;
	width: 100%;
	font-family: var(--font2);
	font-size: var(--font-size);
	line-height: var(--font-size);
	color: var(--color2);
	-webkit-text-stroke: calc(2 * var(--input-border-width)) var(--color4);
	filter: drop-shadow(0 var(--input-border-width) 0 var(--color4));
	z-index: 10;
}
#letter-input {
	text-align: center;
	vertical-align: middle;
	width: 100%;
	font-family: var(--font2);
	font-size: var(--font-size);
	line-height: var(--font-size);
	border: 0;
	outline: 0;
	background: transparent;
	color: var(--color6);
	z-index: 11;
}


/* Filtered container */
.filtered-container {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 1rem;
}

.filtered-box {
	background: var(--color2);
	color: var(--color6);
	/* border-bottom: var(--input-border-width) solid var(--color3); */
	border-radius: calc(var(--input-border-width) + var(--input-border-radius));
}

.actual {
	font-weight: 700;
	color: var(--color5);
}

.immediate-box {
	justify-content: space-between;
	text-align: center;
	width: 25rem;
	padding: 1rem;
	padding-top: 2rem;
}

.word-count {display: block;}

.sample-word-list {
	--word-lines: 7;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-content: start;
	height: calc(var(--word-lines) * var(--line-height) + 2 * var(--word-lines) * var(--word-margin-v));
	width: 100%;
	margin: var(--container-spacing) 0;
	overflow: hidden;
}

.filtered-word {margin: var(--word-margin-v) var(--word-margin-h);}

#show-all-btn {
	width: 96%;
	color: var(--color4);
	/* background-color: var(--color1); */
}
.hide-btn {
	opacity: 0;
	pointer-events: none;
}


/* Properties */
.properties-container {
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 100%;
	margin-left: 1rem;
}

.properties-container .filtered-box {
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 0 2rem;
	white-space: nowrap;
}
.middlest-box {margin: 1rem 0;}


/* All words screen */
.all-words-screen {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	pointer-events: none;
	overflow: hidden;
	transition: all var(--container-transition);
}

.all-wrapper {
	padding: 6rem;
	z-index: 10;
	overflow-y: scroll;
}

.sort-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: var(--container-spacing);
}

.sort-container .btn {
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 17rem;
	color: var(--color4);
}
.sort-container .btn ~ .btn {margin-left: 1rem;}
input[name="sort"]:checked + label {
	background: var(--color4);
	color: var(--color6);
	border: 0;
}

.all-word-list {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.close-all-btn {
	top: 2rem;
	right: 2rem;
	z-index: 11;
}


/* Game link */
#game-circle-btn {
	bottom: 2rem;
	left: 2rem;
}
