:root {
	/* Colors */
	/* --color1: oklch(40.685% 0.06248 44);
	--color2: oklch(45.983% 0.06555 33);
	--color3: oklch(55.123% 0.07550 22);
	--color4: oklch(66.587% 0.09060 11);
	--color5: oklch(79.734% 0.11111 0);
	--color6: white; */

	--color1: oklch(40.685% 0.06248 144); /* #345233 */
	--color2: oklch(45.983% 0.06555 133); /* #496039 */
	--color3: oklch(55.123% 0.07550 122); /* #6a7946 */
	--color4: oklch(66.587% 0.09060 111); /* #969955 */
	--color5: oklch(79.734% 0.11111 100); /* #cdbf66 */
	--color6: white;

	/* --color1: #2a4d69;
	--color2: #2f5e77;
	--color3: #387c91;
	--color4: #45a3b3;
	--color5: #53d2db;
	--color6: white; */

	/* Fonts */
	--font1: "Ciutadella Rounded";
	--font2: "Plate Game Mono";

	/* Container Variables */
	--line-height: 1.25em;
	--container-spacing: 1.8rem;
	--container-transition: 0.2s;
	--scroll-padding: 6rem;

	/* Input Variables */
	--input-spacing: 0.4rem;
	--input-border-width: 0.3rem;
	--input-border-radius: 0.5rem;
	--input-transition: 0.1s;
}
