/* Ciutadella Rounded Light */
@font-face {
	font-family: "Ciutadella Rounded";
	font-weight: 300;
	font-style: normal;
	src: url("Ciutadella/Ciutadella-Rounded-Light.woff2") format("woff2");
}
@font-face {
	font-family: "Ciutadella Rounded";
	font-weight: 300;
	font-style: italic;
	src: url("Ciutadella/Ciutadella-Rounded-Light-Italic.woff2") format("woff2");
}

/* Ciutadella Rounded Regular */
@font-face {
	font-family: "Ciutadella Rounded";
	font-weight: 400;
	font-style: normal;
	src: url("Ciutadella/Ciutadella-Rounded-Regular.woff2") format("woff2");
}
@font-face {
	font-family: "Ciutadella Rounded";
	font-weight: 400;
	font-style: italic;
	src: url("Ciutadella/Ciutadella-Rounded-Regular-Italic.woff2") format("woff2");
}

/* Ciutadella Rounded Medium */
@font-face {
	font-family: "Ciutadella Rounded";
	font-weight: 500;
	font-style: normal;
	src: url("Ciutadella/Ciutadella-Rounded-Medium.woff2") format("woff2");
}
@font-face {
	font-family: "Ciutadella Rounded";
	font-weight: 500;
	font-style: italic;
	src: url("Ciutadella/Ciutadella-Rounded-Medium-Italic.woff2") format("woff2");
}

/* Ciutadella Rounded SemiBold */
@font-face {
	font-family: "Ciutadella Rounded";
	font-weight: 600;
	font-style: normal;
	src: url("Ciutadella/Ciutadella-Rounded-SemiBold.woff2") format("woff2");
}
@font-face {
	font-family: "Ciutadella Rounded";
	font-weight: 600;
	font-style: italic;
	src: url("Ciutadella/Ciutadella-Rounded-SemiBold-Italic.woff2") format("woff2");
}

/* Ciutadella Rounded Bold */
@font-face {
	font-family: "Ciutadella Rounded";
	font-weight: 700;
	font-style: normal;
	src: url("Ciutadella/Ciutadella-Rounded-Bold.woff2") format("woff2");
}
@font-face {
	font-family: "Ciutadella Rounded";
	font-weight: 700;
	font-style: italic;
	src: url("Ciutadella/Ciutadella-Rounded-Bold-Italic.woff2") format("woff2");
}


/* License Plate USA */
@font-face {
	font-family: "License Plate USA";
	font-weight: 400;
	font-style: normal;
	src: url("License-Plate-USA.woff2") format("woff2");
}
